canvas{
    position: absolute;
    border: 1px solid black;
    z-index: -1;
    border:  45px;
    
}
#canvas1{
    margin-left: 50%;
    position: absolute;
    justify-content: center;
    display: flex;
}
#Menu{
    align-items: center;
    flex-direction: column;
    position: relative;
    display: flex;
}
img{
    margin: 10px;
}
